<md-content layout="column" layout-margin>
	<div layout="row" layout-align="center center">
		<md-input-container flex-gt-sm="33">
			<label>Search...</label>
			<input type="text" ng-model="search">
		</md-input-container>
	</div>
	<div layout="column">
		<md-card class="md-whiteframe-z2" ng-repeat="post in home.posts | filter:search">
			<img class="md-card-image logo" ng-src="data:{{post.image.filetype}};base64,{{post.image.base64}}"  alt="post image">
			<md-card-content>
				<h2 class="backSkyBlue nomargin nopadding">Title: {{post.title}}</h2>
				<p>Description: {{post.description}}</p>
			</md-card-content>
			<div class="md-actions" layout="row" layout-align="space-between center">
			   	<h3 layout-margin>Price: {{post.price}}</h3>
			   	<div>
			   		<md-button>Edit</md-button>
			   		<md-button>Delete</md-button>
			   	</div>
			 </div>
		</md-card>
	</div>
</md-content>
<md-button class="md-fab fabAbsolute" href="#/newpost" aria-label="New Post Dialog" ng-show="home.user.userName">
    <md-icon md-svg-src="images/ic_add_black_24px.svg"></md-icon>
</md-button>
