.margin-right {
	margin-right: 20px;
}

.viewHeight {
	height: 100vh;
}

.invalid_color {
	color: red;
	font-size: 12px;
}

.logo {
	width: 32px;
	height: 32px;
	margin-right: 20px;
}

.body {
	font-family: Roboto,'Helvetica Neue',sans-serif;
}

.nomargin {
	margin: 0px;
}

.nopadding {
	padding: 0px;
}

.backSkyBlue {
	background-color: #00A7F8 !important;
}

.foreWhite {
	color: white;
}

.fabAbsolute {
	position: absolute !important;
	bottom: 5%;
	right: 2%;
}